
<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <p>Copyright © 
    <% const date = new Date(); %>
    <% const yearNow = date.getFullYear() %>
    <%= yearNow %>
  </p>
</footer>
</body>

</html>